:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.Jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

#back-to-album {
    padding-top:48px;
}

a:hover {
  text-decoration: none;
}
.album-title {
    font-weight:300;
    padding-top:1rem;
    padding-bottom:1rem;
}

.image-container {
    padding-left:0px;
    padding-right:0px;
}

.time-shot-text {
    padding-top:10px;
    padding-bottom:0px;
}

.image-card {
    padding-bottom:10px;
    padding-top:15px;
}


.pagination {
    justify-content: center;
    margin-bottom:0px;
}

.album-pagination-top {
    margin-bottom:1.5rem;
}

.album-pagination-bottom {
    padding-top:0rem;
    padding-bottom:0;
    padding-bottom:0;
}
