{% load static %}
<!doctype html>
<html lang="no">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- <link rel="icon" href="../../../../favicon.ico"> -->

	<title>Album example for Bootstrap</title>

	<!-- Bootstrap core CSS -->
	<link href="{% static 'remote/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

	<link href="{% static 'remote/styles.css' %}" rel="stylesheet">
	{% block stylesheets %}	{% endblock stylesheets %}
    </head>
    <body>

	<header>
	    <div class="collapse bg-dark" id="navbarHeader">
		<div class="container">
		    <div class="row">
			<div class="col-sm-8 col-md-7 py-4">
			    <h4 class="text-white">Om siden</h4>
			    <p class="text-muted">Fotobox er laget for å kunne ha speilrefleksbilder uten at noen må stå bak kameraet og være fotograf. Finn frem noen venner, still dere opp foran kameraet og gjør noe fett. Etterpå kan dere laste ned bildene direkte til telefoenen i full oppløsning. Hva venter dere på?</p>
			</div>
			<div class="col-sm-4 offset-md-1 py-4">
			    <h4 class="text-white">Kontakt</h4>
			    <ul class="list-unstyled">
				<li class="text-white">Har noe skjedd?</li>
				<li class="text-white">Kontakt {{ contact_first_name }}</li>
				<li class="text-white">{{ contact_phone_number }}</li>
			    </ul>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="navbar navbar-dark bg-dark shadow-sm">
		<div class="container d-flex justify-content-between">
		    <a href="{% url 'remote:index' %}" class="navbar-brand d-flex align-items-center">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
			<strong>Fotobox</strong>
		    </a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		    </button>
		</div>
	    </div>
	</header>
	{% block content %}{% endblock content %}
	<footer class="text-muted">
	    <div class="container">
		<p class="float-right">
		    <a href="#">Tilbake til toppen</a>
		</p>
		{% block tips %}{% endblock tips %}
		<p>Vil du sette opp din egen fotobox? Eller funnet noe du ikke liker? Sjekk ut projektet på <a href="https://github.com/SimenHolmestad/Fotobox">github</a>.</p>
	    </div>
	</footer>

	<!-- Bootstrap core JavaScript
	     ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write("{% static 'remote/bootstrap/popper.min.js' %}")</script>
	<script src="{% static 'remote/bootstrap/popper.min.js' %}"></script>
	<script src="{% static 'remote/bootstrap/bootstrap.min.js' %}"></script>
    </body>
</html>
