{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'remote/styles.css' %}" />
{% endblock stylesheets %}
<h1><a href="{% url 'remote:index' %}"> Fotobox </a></h1>
<img class="general_image" src="{{ image_link }}", alt="bilde">
<p>Tips: Hvis du er på telefon, kan du holde fingeren på bildet og lagre det med menyen som kommer opp.</p>
<a href="{% url 'remote:capture' album %}"><div class="button">Ta nytt bilde</div></a>
<h1><a href="{% url 'remote:album' album %}">Gå til album</a></h1>
