{% extends "remote/base.html" %}
{% block content %}
    <section class="jumbotron text-center">
	<div class="container">
	    <h1 class="jumbotron-heading">Hei og velkommen til Fotobox</h1>
	    <p class="lead text-muted">Du kan bruke denne siden til å ta bilder med fotoboksen eller se på bilder som allerede er tatt. Velg et album under eller lag et nytt et for å begynne! </p>
	</div>
    </section>
    <div class="album py-5 bg-light">
	<div class="container">
	    <div class="row">
		{% for album in albums %}
		    <div class="col-md-4">
			<a href="{% url 'remote:album' album.slug %}">
			    <div class="card mb-4 shadow-sm text-center">
				<h2 class="album-title">{{ album.name }}</h2>
			    </div>
			</a>
		    </div>
		{% endfor %}
		<div class="col-md-4">
		    <a href="{% url 'remote:new_album' %}">
			<div class="card mb-4 shadow-sm text-center">
			    <h2 class="album-title">Lag nytt album</h2>
			</div>
		    </a>
		</div>

	    </div>
	</div>
    </div>
{% endblock content %}
