{% extends "remote/base.html" %}
{% block stylesheets %}
    {% load static %}
    <link href="{% static 'remote/error.css' %}" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main role="main">
	<section class="jumbotron text-center bg-light">
	    <h1 class="jumbotron-heading">Lag nytt album</h1>
	    <p class="lead text-muted">Du kan kalle albumet ditt for hva som helst, for eksempel <i>vodka shots</i> eller <i>xXxVerDeNsBesteAlBumxXx</i></p>
	    <form method="post">{% csrf_token %}
		{{ form }}
		<input type="submit" value="lag album" />
	    </form>
	</section>
    </main>
{% endblock content %}
