{% extends "remote/base.html" %}
{% block stylesheets %}
    {% load static %}
    <link href="{% static 'remote/error.css' %}" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main role="main">
	<section class="jumbotron text-center bg-light">
	    <h1 class="jumbotron-heading">Opptatt</h1>
	    <p class="lead text-muted">Kameraet er opptatt. Det er noen som bruker det akkurat nå.</p>
	    <p>
		<a href="{% url 'remote:capture' album.slug %}" class="btn btn-primary my-2">Prøv på nytt</a>
		<a href="{% url 'remote:album' album.slug %}" class="btn btn-secondary my-2">Tilbake til album</a>
	    </p>
	</section>
    </main>
{% endblock content %}
