{% extends "remote/base.html" %}
{% block content %}
    <div class="album py-5 bg-light">
	<div class="container">
	    <div class="col-md-12">
		<div class="card mb-12 shadow-sm">
		    <img class="card-img-top" src="{{ photo.image.url }}", alt="bilde">
		    <div class="card-body">
			<!-- <p class="card-text">Her går det senere an å legge inn en beskrivelse av bildet??</p> -->
			<div class="d-flex justify-content-between align-items-center">
			    {% if previous_image_link %}
				<a href="{{ previous_image_link }}">
				    <button type="button" class="btn btn-sm btn-outline-secondary">Forrige bilde</button>
				</a>
			    {% endif %}
			    <small class="text-muted text-center">Bilde {{ current_photo }} av {{ photos_in_album }}<br>(Høy oppløsning)</small>
			    {% if next_image_link %}
				<a href="{{ next_image_link }}">
				    <button type="button" class="btn btn-sm btn-outline-secondary">Neste bilde</button>
				</a>
			    {% endif %}
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="text-center" id="back-to-album">
	    <a href="{% url 'remote:album' album.slug %}" class="btn-primary btn-lg">Tilbake til album</a>
	</div>
    </div>
{% endblock content %}
{% block tips %}
    <p>Tips: Hvis du er på telefon, kan du holde fingeren på bildet og lagre det med menyen som kommer opp. (På iphone i hvert fall)</p>
{% endblock tips %}
